<% provide(:title,  'Tasks') %>

<div class="pull-right title-search-form">
  <form action="/tasks" class="form-search" method="GET">
    <input name="title" type="text" class="input-medium search-query">
    <button type="submit" class="btn">Search</button>
  </form>
</div>

<%= render :partial => "results_list", :locals => { :tasks => @tasks } %>

<%= link_to "Create Task", new_task_path, class: "btn btn-large btn-primary" %>

<div class = "pull-right">
  <%= link_to "Filter OverDue Tasks", {:action=>'index', :overdue => 1}, :title => 'Filter by Status' %> |
  <%= link_to "List All Tasks", tasks_path, :title => 'All Tasks' %>
</div>