// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date-selects {
    float:none !important;
    margin-left : 0 !important;
    padding-bottom: 16px;
    width : 92px;
    select {
        height : 40px !important;
    }
}

.task-list-main{
    padding-top:50px;
}