<% provide(:title, 'About') %>
<div class="center hero-unit">
  <h2>Manage Your Tasks - About</h2>

  <h3>
    Task Manager lets you to create and manage your tasks.
  </h3>

  <p>Auther : Mahesh Gajera</p>
  <p>Email : mahesh.gajera2012@gmail.com</p>
  <p>Phone : +919558615463</p>
</div>