<% provide(:title, 'Help') %>
<div class="center hero-unit">
  <h2>Manage Your Tasks - Help</h2>

  <h3>
    Task Manager lets you to create and manage your tasks.
  </h3>

  <%= link_to "List All Tasks", tasks_path, class: "btn btn-large btn-primary" %>
</div>