<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Manage Your Tasks</h1>

  <h2>
    Task Manager lets you to create and manage your tasks.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

