<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h2>Manage Your Tasks</h2>

  <h3>
    Task Manager lets you to create and manage your tasks.
  </h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

